<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Drone Tracking</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md mb-4" style="background-color: black">
		<!-- Brand -->
		<a class="navbar-brand" href="/">
			<h1 class="" style="margin-left: 3%; color: aquamarine; margin-top: 1%"> Drone Tracking System </h1>
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/view/all}">Drones</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1> List Drones </h1>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/newdrone}" class="btn btn-primary btn-sm mb-3"> Add Drone </a>
			</div>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th> Drone 1 </th>
					<th> Drone 2 </th>
					<th> Time of Collision </th>
					<th> </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="c: ${collision}">
					<td th:text="${c[0]}"></td>
					<td th:text="${c[1]}"></td>
					<td th:text="${c[2]}"></td>
					<td>
						<a th:href="@{/editdrone/{id}(id=${c[0]})}" class="btn btn-primary">Edit Drone 1</a>

						<a th:href="@{/editdrone/{id}(id=${c[1]})}" class="btn btn-primary">Edit Drone 2</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>
