<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Car Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">Fahad Samman</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">1935205</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Cars </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/cars/new}" class = "btn btn-primary btn-sm mb-3"> Add Car</a>
			</div>
			<div class = "col-lg-3">
				<a th:href = "@{/cars/search}" class = "btn btn-primary btn-sm mb-3"> Search</a>
			</div>
	<div class="container">
		<div class="row">
			<h1> List of Collision Points </h1>
		</div>

		<div class="row">

		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Drone 1</th>
					<th> Drone 2</th>
					<th> Time of Collision</th>
					<th> </th>
					<th> x </th>
					<th> y </th>
					<th> z </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "c: ${collision}">
					<td th:text = "${c[0]}"></td>
					<td th:text = "${c[1]}"></td>
					<td th:text = "${c[2]}"></td>
					<td>
						<a th:href = "@{/drones/edit/{id}(id=${c[0]})}"
						 class = "btn btn-primary">Edit Drone 1</a>
						
						<a th:href = "@{/drones/edit/{id}(id=${c[1]})}"
						 class = "btn btn-danger">Edit Drone 2</a>
						 
					</td>
				<tr th:each="c: ${collision}">
					<td th:text="${c[0]}"></td>
					<td th:text="${c[1]}"></td>
					<td th:text="${c[2]}"></td>

				</tr>
			</tbody>

		
		</table>
		
	</div>
</body>
</html>