<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Drone Tracking</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<style>
		body {
			background-color: black;
			color: aqua;
		}

		.drone_card {
			background-color: rgb(45, 45, 45);
			border-radius: 20px;
			padding: 3px;
			padding-left: 0;
			padding-right: 0;
			margin: 20px;
			width: 300px;
			height: fit-content;
			vertical-align: top;
		}

		.drone_container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			padding-left: 20px;
			padding-right: 20px;
		}

		.droneInfo {
			height: fit-content;
			margin-left: 5%;
			color: aliceblue;
		}

		#plot {
			width: 600px;
			height: 600px;

			position: center;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			margin: auto;
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-expand-md mb-4" style="background-color: black">
			  <!-- Brand -->
			  
			  <a class="navbar-brand" href="/">
			  	<h1 class="" style="margin-left: 3%; color: aquamarine; margin-top: 1%"> Drone Tracking System </h1>
			  </a>
			
			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			   <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/drones}">Drones</a>
			      </li>
			    </ul>
			  </div>
		</nav>

	<h1 style="margin-left: 3%; color: aquamarine; margin-top: 1%"> Drone </h1>
	<br>
	<br>
	<div style="display: flex">
		<div style="margin-left: 5%">
	 		<div class="drone_card">
	      		<div class="droneInfo">
				    <p th:text = "${_drone.name}" style="margin-top: 3%; font-size: x-large; font-weight: bold; display: inline"></p>
				    <span  th:if="${_drone.batteryPercentage} &lt; 0.31">
						<span th:if="${_drone.batteryPercentage} &lt; 0.21">
							<p th:text = "${#numbers.formatDecimal(_drone.batteryPercentage*100, 0, 0)}+'%'" class="text-right font-weight-bold" style="display: inline; float: right; margin-right: 6%; margin-top: 2%; font-size: large; font-weight: bold; color:red" ></p>
						</span>
						<span th:if="${_drone.batteryPercentage} &gt; 0.20">
							<p  th:text = "${#numbers.formatDecimal(_drone.batteryPercentage*100, 0, 0)}+'%'" class="text-right font-weight-bold" style="display: inline; float: right; margin-right: 6%; margin-top: 2%; font-size: large; font-weight: bold; color:yellow" ></p>
						</span>
					</span>
					<span th:if="${_drone.batteryPercentage} &gt; 0.30">
						<p th:text = "${#numbers.formatDecimal(_drone.batteryPercentage*100, 0, 0)}+'%'" class="text-right font-weight-bold" style="display: inline; float: right; margin-right: 6%; margin-top: 2%; font-size: large; font-weight: bold; color:rgb(0,255,0)" ></p>
					</span>
				    <br>
				    <br>
				    <div style="display: flex">
				        <div>
				            <p style="display: inline">model:</p>
				            <p th:text = "${_drone.model}"></p>
				        </div>
				        <div style="margin-left: 60%">
				            <p style="display: inline">mass:</p>
				            <p th:text = "${_drone.mass}"></p>
				        </div>
				
				    </div>
				    <p style="display: inline">batteryCapacity:</p>
				    <p th:text = "${_drone.batteryCapacity}"></p>
				    <p style="display: inline">ID:</p>
				    <p th:text = "${_drone.id}"></p>
				
				    <a style="margin-bottom: 3%" th:href = "@{/update/{id}(id=${_drone.id})}"
				       class = "btn btn-primary">Update</a>
				
				    <a style="float: right; margin-right: 6%; margin-bottom: 3%" th:href = "@{/delete/{id}(id=${_drone.id})}"
				       class = "btn btn-danger">Delete</a>
				</div>
				
			</div>	
		</div>
		<div id="plot" name="plot">
		</div>
	</div>


</body>


<script th:inline="javascript">
	var stuff = [[${_drone}]];
	var pointCount = 59;
	var xA = [];
	var yA = [];
	var zA = [];
	var cA = [];
	for (var i = 0; i < pointCount; i++) {
		xA.push(stuff.path[i].x);
		yA.push(stuff.path[i].y);
		zA.push(stuff.path[i].z);
		cA.push(stuff.path[i].z)
	}

	var drone1 = {
		type: 'scatter3d',
		mode: 'lines+markers',
		x: xA, y: yA, z: zA, line: {width: 6, color: '#' + Math.floor(Math.random() * 16777215).toString(16)},
		marker: {size: 3.5, color: cA, colorscale: "Greens", cmin: -20, cmax: 50}
	}

	var layout = {
		title: 'Drone Paths',
		height: 600,
		width: 600,

		margin: {
			l: 0,
			r: 0,
			b: 0,
			t: 65
		}
	};

	console.log(drone1);

	Plotly.newPlot('plot', [{
		type: 'scatter3d',
		mode: 'lines+markers',
		x: xA, y: yA, z: zA, line: {width: 6, color: '#' + Math.floor(Math.random() * 16777215).toString(16)},
		marker: {size: 3.5, color: cA, colorscale: "Greens", cmin: -20, cmax: 50}
	},]);
</script>

</html>
