<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Drone Tracking</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<style>
		body {
			background-color: #c3eaff;
			color: aqua;
		}

	</style>
</head>

<body>
	<div th:replace="/navigation_bar::navigation_bar">
	</div>

	<h1 style="margin-left: 3%; color: black; margin-top: 1%"> Add Drone </h1>
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background-color:rgb(45, 45, 45);">
				<h1 class = "text-center"> Add New Drone </h1>
				<div class="card" style="background-color:rgb(45, 45, 45);">
					<div class = "card-body">
						<form th:action="@{/editDrone/{id}(id=${drone.id})}"  method="POST" id="droneForm">

								<div class ="form-group">
									<label> Drone Name </label>
									<input
									type = "text"
									name = "name"
									th:value="${drone.name}"
									class = "form-control"
									placeholder="Enter Drone Name"
									/>
								</div>

								<div class ="form-group">
									<label> Drone Model </label>
									<input
									type = "text"
									name = "model"
									th:value="${drone.model}"
									class = "form-control"
									placeholder="Enter Model Name"
									/>
								</div>

								<div class ="form-group">
									<label> Mass </label>
									<input
									type = "number"
									name = "mass"
									step = "0.01"
									th:value="${drone.mass}"
									class = "form-control"
									placeholder="Enter Mass"
									/>
								</div>

								<div class ="form-group">
									<label> Drone Battery Capacity </label>
									<input
									type = "number"
									name = "batteryCapacity"
									step = "1"
									th:value="${drone.batteryCapacity}"
									class = "form-control"
									placeholder="Battery Capacity"
									/>
								</div>

								<div class ="form-group">
									<label> Drone Battery Percentage </label>
									<input
									type = "number"
									name = "batteryPercentage"
									th:value="${drone.batteryPercentage}"
									step = "0.01"
									max="1"
									min="0"
									class = "form-control"
									placeholder="Battery Percentage"
									/>
								</div>



								<div class ="form-group" style="margin-top:2em;">
									<label> Path Type </label>
									<select name="pathType" id="pathType" class="form-select">
		                                  <option selected value="Simple">Simple</option>
		                                  <option value="Bezier">Bezier</option>
		                           </select>
								</div>



								<span id="writeroot"></span>

								<div class="mt-3">
									<input class = "btn btn-primary mb-3 float-right" type="button" id="more" value="Add More Point" onclick="moreFields()"/>
								</div>

								<div class="text-center" style="clear:both; margin-top:2em">
									<button class = "btn btn-primary mb-3" type="submit" id="submit">Submit</button>
								</div>

							</form>
						</div>









					</div>
				</div>
			</div>
		</div>


<script>
	var counter = 0;

	function moreFields() {
		counter++;
		var newFields = document.getElementById('readroot').cloneNode(true);
		newFields.id = '';
		newFields.style.display = 'block';
		var newField = newFields.childNodes;
		for (var i=0;i<newField.length;i++) {
			var theName = newField[i].name
			if (theName)
				newField[i].name = theName;
		}
		var insertHere = document.getElementById('writeroot');
		insertHere.parentNode.insertBefore(newFields,insertHere);
	}

	window.onload = moreFields;
</script>


</body>



</html>
